---
---
/* code highlight plugin */
@import "prism";
/* bootstrap grid */
@import "bootstrap/bootstrap-grid.scss";
@import "base";
@import "header";
@import "footer";
@import "main";
/* pages */


code.highlighter-rouge {
    padding: 3px 6px;
    border-radius: 5px;
    background: #ddd;
}