.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f2f2f2;

    .header-in {
        @include part-width;
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .logo {
            display: flex;
            justify-content: space-between;
        }

        .nav {
            display: flex;
            justify-content: space-between;

            a, span {
                margin-left: 1.5rem;
            }
        }
    }
}
